body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    padding: 40px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

h1,
h2 {
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-align: center;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

.aLogin {
    text-align: center;
    margin: 10px !important;
    color: #000;
    text-decoration: none;
}